.polls {
    margin: 1.5rem 0;
    padding: 1.5% 3%;
}

.poll {
    color: var(--dark);
    padding: 2%;
    margin: 1.5% 0;
    cursor: pointer;
    border: 2.5px solid rgba(0, 0, 0, 0);
    transition: all 0.4s;
}

.poll:hover {
    border: 2.5px solid var(--accent1);
    color: var(--accent1);
}
