#capabilities-page {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-y: scroll;
}

.capabilities-container {
    height: 80vh;
    margin: 6.825vh 0;
    width: 85%;
    padding: 2% 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#capabilities-page .main-heading {
    font-size: 3.5rem;
}

.capabilities-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.capability-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.capability-link .img-container {
    padding: 2.25rem;
    margin-bottom: 1.5rem;
    background-color: #004aad;
    border-radius: 100rem;
}

.capability-link img {
    margin: 0;
    width: 7.5rem;
}

.capability {
    height: 90%;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2.5%;
}

.capability-headings {
    flex: 1;
    width: 22.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.capability-points {
    flex: 3;
    width: 72.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    list-style: none;
}

.capability-points li {
    margin-bottom: 1%;
    text-align: right;
}

.capability-points p {
    text-align: right;
}
