@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
  }

#home {
    height: 100%;
    display: flex;
    align-items: center;
    /* overflow: hidden !important; */
    /* background-color: "#004aad"; */
    overflow-y: scroll;
}

#home .voting-banner {
    margin: 0 5rem;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
    /* font: gfont */
    font-family: "Montserrat";
}

#home .voting-banner .submit-button {
    margin-top: 2rem;
    width: 100%;
    background: "#004aad";
    /* font-family: "Montserrat"; */
}

#home .home-art {
    width: 70%;
    height: 70%;
    position: relative;
    overflow: hidden;
}
#home .sc1 {
    width: 5000%;
    position: absolute;
    /* overflow: scroll; */
}

#home .home-art img {
    width: 120%;
    position: absolute;
    right: -35%;
    bottom: 0;
}
